.whatsapp-chat-box-child {
  position: absolute;
  top: 0;
  left: 594px;
  background-color: #efeae2;
  width: 1150px;
  height: 1024px;
}
.istockphoto-1183632265-612x612-icon {
  position: absolute;
  top: 0;
  left: 597px;
  width: 2048px;
  height: 1024px;
  object-fit: cover;
}
.whatsapp-chat-box-item {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 594px;
  height: 1024px;
}
.whatsapp-chat-box-inner {
  position: absolute;
  top: 0;
  left: 593px;
  background-color: #f0f2f5;
  width: 1151px;
  height: 74px;
}
.group-icon,
.rectangle-div {
  position: absolute;
  top: 13px;
  left: 609px;
  width: 50px;
  height: 50px;
}
.rectangle-div {
  top: 934px;
  left: 593px;
  background-color: #f0f2f5;
  width: 1151px;
  height: 90px;
}
.search-bar-filter {
  border: 0;
  background-color: transparent;
  position: absolute;
  top: 29px;
  left: 29px;
}
.line-div {
  position: absolute;
  top: 100.5px;
  left: -0.5px;
  border-top: 1px solid #e9edef;
  box-sizing: border-box;
  width: 595px;
  height: 1px;
}
.personal-chat-video-child {
  position: relative;
  width: 50px;
  height: 50px;
}
.gideon-nic {
  margin: 0;
}
.gideon-nic,
.xyz {
  position: relative;
  letter-spacing: -0.02em;
}
.gideon-nic-parent,
.xyz-wrapper {
  display: flex;
  justify-content: flex-start;
}
.xyz-wrapper {
  flex-direction: row;
  align-items: center;
  font-size: 16px;
}
.gideon-nic-parent {
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}
.pm {
  position: relative;
  font-size: 14px;
  letter-spacing: -0.02em;
}
.frame-parent,
.personal-chat-video {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 318px;
}
.personal-chat-video {
  position: absolute;
  top: 123px;
  left: 29px;
  width: 540px;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  color: #6b7c85;
}
.span {
  position: relative;
  letter-spacing: -0.02em;
  font-weight: 600;
}
.wrapper {
  position: absolute;
  top: 158px;
  left: 534px;
  border-radius: 10px;
  background-color: #25d366;
  display: flex;
  flex-direction: row;
  padding: 5px;
  align-items: flex-start;
  justify-content: flex-start;
  color: #fff;
}
.whatsapp-chat-box-child1 {
  position: absolute;
  top: 198.5px;
  left: 89.5px;
  border-top: 1px solid #e9edef;
  box-sizing: border-box;
  width: 482px;
  height: 1px;
}
.container,
.personal-chat-video2 {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.personal-chat-video2 {
  top: 214px;
  left: 29px;
  width: 540px;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  color: #6b7c85;
}
.container {
  top: 249px;
  left: 534px;
  border-radius: 10px;
  background-color: #25d366;
  padding: 5px;
  align-items: flex-start;
  color: #fff;
}
.whatsapp-chat-box-child3,
.whatsapp-chat-box-child5 {
  position: absolute;
  top: 289.5px;
  left: 89.5px;
  border-top: 1px solid #e9edef;
  box-sizing: border-box;
  width: 482px;
  height: 1px;
}
.whatsapp-chat-box-child5 {
  top: 1002.5px;
}
.frame-textfield {
  border: 0;
  background-color: transparent;
  position: absolute;
  top: 953px;
  left: 597px;
}
.union-icon {
  position: absolute;
  top: 123px;
  left: 684px;
  width: 185px;
  height: 44px;
}
.baba-how-fa {
  margin: 0;
  position: absolute;
  top: 137px;
  left: 710px;
  letter-spacing: -0.02em;
}
.but-na-wetin-the-client-even-t-wrapper {
  position: absolute;
  top: 338px;
  left: 1233px;
  border-radius: 10px;
  background-color: #d9fdd3;
  width: 466px;
  display: flex;
  flex-direction: row;
  padding: 14px 19px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.but-no-be-the-reason-i-dy-buzz-wrapper,
.come-press-me-the-least-na-wrapper,
.how-u-see-am-na-wrapper,
.i-dy-office-like-this-oh-any-wrapper,
.na-how-much-una-been-discuss-f-wrapper,
.u-don-check-that-thing-wey-i-b-wrapper {
  position: absolute;
  top: 387px;
  left: 1275px;
  border-radius: 10px;
  background-color: #d9fdd3;
  width: 424px;
  display: flex;
  flex-direction: row;
  padding: 14px 19px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.but-no-be-the-reason-i-dy-buzz-wrapper,
.come-press-me-the-least-na-wrapper,
.how-u-see-am-na-wrapper,
.i-dy-office-like-this-oh-any-wrapper,
.u-don-check-that-thing-wey-i-b-wrapper {
  top: 808px;
  left: 1362px;
  width: 337px;
}
.but-no-be-the-reason-i-dy-buzz-wrapper,
.come-press-me-the-least-na-wrapper,
.how-u-see-am-na-wrapper,
.u-don-check-that-thing-wey-i-b-wrapper {
  top: 172px;
  left: 691px;
  background-color: #fff;
  width: 426px;
}
.but-no-be-the-reason-i-dy-buzz-wrapper,
.come-press-me-the-least-na-wrapper,
.how-u-see-am-na-wrapper {
  top: 500px;
  width: 421px;
}
.come-press-me-the-least-na-wrapper,
.how-u-see-am-na-wrapper {
  top: 549px;
  width: 261px;
}
.how-u-see-am-na-wrapper {
  top: 221px;
  width: 185px;
}
.pm4 {
  position: absolute;
  top: 153px;
  left: 829px;
  font-size: 9px;
  letter-spacing: -0.02em;
}
.union-icon1 {
  position: absolute;
  top: 451px;
  left: 684px;
  width: 268px;
  height: 44px;
}
.na-just-150k,
.pm5 {
  position: absolute;
  letter-spacing: -0.02em;
}
.na-just-150k {
  margin: 0;
  top: 465px;
  left: 710px;
}
.pm5 {
  top: 481px;
  left: 908px;
  font-size: 9px;
}
.union-icon2 {
  position: absolute;
  top: 872px;
  left: 684px;
  width: 216px;
  height: 44px;
}
.oboy-dash-me {
  margin: 0;
  position: absolute;
  top: 886px;
  left: 710px;
  letter-spacing: -0.02em;
}
.pm6 {
  position: absolute;
  top: 901px;
  left: 856px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  font-size: 9px;
}
.pm8,
.pm9 {
  left: 1074px;
  letter-spacing: -0.02em;
}
.pm8 {
  position: absolute;
  top: 202px;
  font-size: 9px;
}
.pm9 {
  top: 530px;
}
.pm-wrapper,
.pm11,
.pm9 {
  position: absolute;
  font-size: 9px;
}
.pm-wrapper {
  top: 579px;
  left: 908px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.pm11 {
  top: 251px;
  left: 840px;
  letter-spacing: -0.02em;
}
.union-icon3 {
  position: absolute;
  top: 285px;
  left: 1453px;
  width: 256px;
  height: 48px;
}
.oboy-the-thing {
  margin: 0;
  position: absolute;
  top: 301px;
  left: 1472px;
  letter-spacing: -0.02em;
}
.charmtick-double-icon {
  position: relative;
  width: 16px;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.pm-parent {
  position: absolute;
  top: 317px;
  left: 1636px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  font-size: 9px;
}
.union-icon4 {
  position: absolute;
  top: 755px;
  left: 1453px;
  width: 256px;
  height: 48px;
}
.why-you-dy {
  margin: 0;
  position: absolute;
  top: 771px;
  left: 1472px;
  letter-spacing: -0.02em;
}
.pm-container,
.pm-group,
.pm-parent1,
.pm-parent2 {
  position: absolute;
  top: 787px;
  left: 1636px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  font-size: 9px;
}
.pm-container,
.pm-parent1,
.pm-parent2 {
  top: 366px;
}
.pm-parent1,
.pm-parent2 {
  top: 415px;
}
.pm-parent2 {
  top: 836px;
}
.gideon-nic4 {
  position: relative;
  letter-spacing: -0.02em;
  font-weight: 500;
}
.frame-h6,
.gideon-nic-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.frame-h6 {
  margin: 0;
  position: absolute;
  top: 25px;
  left: 668px;
  font-size: 20px;
  color: #6b7c85;
  font-family: inherit;
}
.whatsapp-chat-box-child6 {
  position: absolute;
  top: 173px;
  left: 586px;
  background-color: #c6c6c6;
  width: 8px;
  height: 26px;
}
.whatsapp-chat-box {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: 14px;
  color: #111b21;
  font-family: "Work Sans";
}
