.cardImageIcon,
.highfidelityDesign {
  align-self: stretch;
  position: relative;
}
.cardImageIcon {
  max-width: 100%;
  overflow: hidden;
  height: 168px;
  flex-shrink: 0;
  object-fit: cover;
  display: none;
}
.highfidelityDesign {
  font-weight: 600;
}
.makeClearDesign {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-sm);
  color: var(--color-silver-200);
}
.titleHolder {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.threeDotIcon {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.cardContent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lgi);
}
.listIcon {
  position: relative;
  width: 18px;
  height: 18px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.progress {
  flex: 1;
  position: relative;
}
.title {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.completedValue {
  position: relative;
  font-weight: 500;
  color: var(--color-black);
  display: none;
  width: 33px;
  flex-shrink: 0;
}
.progressInfo {
  text-decoration: none;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
  color: inherit;
}
.intial {
  position: relative;
  background-color: var(--color-gainsboro);
  width: 0;
  height: 8px;
}
.slider1 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-sandybrown);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.chatteardropdotsIcon,
.div,
.slider {
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.slider {
  align-self: stretch;
  border-radius: var(--br-5xl);
  background-color: var(--color-whitesmoke-100);
  height: 8px;
  display: none;
}
.chatteardropdotsIcon,
.div {
  width: 18px;
}
.chatteardropdotsIcon {
  height: 18px;
}
.div {
  display: -webkit-inline-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 12;
  -webkit-box-orient: vertical;
}
.comments {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.div1 {
  position: relative;
  display: inline-block;
  width: 18px;
  flex-shrink: 0;
}
.commentsLinks,
.links {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.commentsLinks {
  flex: 1;
  gap: var(--gap-11xs);
}
.image8Icon {
  position: absolute;
  top: calc(50% - 12px);
  left: calc(50% - 27px);
  width: 60.25px;
  height: 40px;
  object-fit: cover;
}
.profile02,
.profile03 {
  position: relative;
  border-radius: var(--br-5xl);
  background-color: var(--color-white);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.profile02 {
  margin-left: -8px;
}
.profileStack {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.collaboration,
.progressStatus {
  align-self: stretch;
  align-items: center;
}
.collaboration {
  display: none;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-base);
  font-size: var(--font-size-xs);
  color: var(--color-silver-200);
}
.progressStatus {
  text-decoration: none;
  gap: var(--gap-5xs);
  font-size: var(--font-size-sm);
  color: var(--color-darkslategray);
}
.frameWrapper,
.progressStatus,
.taskCard,
.taskCardWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.taskCard {
  align-self: stretch;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.02);
  padding: var(--padding-base);
  align-items: flex-start;
  gap: var(--gap-lg);
}
.frameWrapper,
.taskCardWrapper {
  align-items: center;
}
.taskCardWrapper {
  align-self: stretch;
}
.frameWrapper {
  flex: 1;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-inter);
}
